{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'app/styles.css' %}" rel="stylesheet">
    <title>Registration Complete</title>
</head>
<body>
    <style>
         h2 {
        color: #b3ec91;
        margin-top: 5px;
        }
        a {
        color: white;
        margin-bottom: 20px;
        }
    </style>
    <div class="cont">
        <h2>Registration Complete</h2>
        <p>Thank you for registering! You can now access the homepage.</p>
        <a href="/"> Go to Homepage</a>
        <p></p>
    </div>
</body>
</html>